body{
    height: 95vh;
    width: 95;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #1a0000;

}

.titulo{
    font-style: bold;
    color: blanchedalmond;
    font-size: 50px;
}